<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate, sint repellat. Fuga, sint dolore? Qui temporibus officiis explicabo, ipsum sapiente consectetur totam, cum libero optio, perferendis quis soluta molestias modi!
    </p>
    <button>click me!</button>
</body>
</html>