<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new chat</title>
</head>
<body>
    <h1>Write new chat...</h1>
    <form action="/chats" method="POST">
        <input placeholder="who are you" name="from">
        <br><br>
        <textarea name="msg">write your message here...</textarea>
        <br><br>
        <input placeholder="add receiver" name="to">
        <br><br>
        <button>Create Chat</button>
    </form>
</body>
</html>